/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/

params {
    modules_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'
    pipelines_testdata_base_path = 'https://raw.githubusercontent.com/phac-nml/submitdatairidanext/tests/data'
}

env {
    SUBMITDATAIRIDANEXT_SRA_UPLOAD_USERNAME = "test_sra_user"
    SUBMITDATAIRIDANEXT_SRA_UPLOAD_PASSWORD = "test_sra_password"
    SUBMITDATAIRIDANEXT_ENA_UPLOAD_USERNAME = "test_ena_user"
    SUBMITDATAIRIDANEXT_ENA_UPLOAD_PASSWORD = "test_ena_password"
}
