/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/

env {
    SRA_UPLOAD_USERNAME = "test_sra_user"
    SRA_UPLOAD_PASSWORD = "test_sra_password"
    ENA_UPLOAD_USERNAME = "test_ena_user"
    ENA_UPLOAD_PASSWORD = "test_ena_password"
}
