iridanext {
    enabled = true
    output {
        path = "${params.outdir}/iridanext.output.json.gz"
        overwrite = true
        metadata {
            samples {
                csv {
                    path = "**/upload_metadata.csv"
                    idcol = "library_name"
                }
            }
        }
    }
}
