iridanext {
    enabled = true
    output {
        path = "${params.outdir}/iridanext.output.json.gz"
        overwrite = true
        files {
            global = [
                "**/upload_to_sra/sra_upload.log.txt",
                "**/upload_to_ena/ena_upload.log.txt",
                "**/create_sra_submission_xml/submission.xml",
                "**/upload_checker/errors.csv"
            ]
            samples = [
                "**/create_sra_addfiles_xml/*_sra_addfiles.xml",
                "**/create_ena_upload_manifest/*_ena_upload_manifest.json",
            ]
        }
        metadata {
            samples {
                csv {
                    path = "**/*_upload_metadata.csv"
                    idcol = "library_name"
                }
            }
        }
    }
}
