/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

params {
    destination                 = "SRA"
    sra_ftp_server              = "sftp-private.ncbi.nlm.nih.gov"
    test_upload                 = false
    upload_dir_suffix           = ""
    sra_account_type            = "center"
    sra_user_account_dirname    = "NOT_SET"
    submitter_organization_name = "National Microbiology Laboratory, Public Health Agency of Canada"
}

env {
    SUBMITDATAIRIDANEXT_SRA_UPLOAD_USERNAME = "$SUBMITDATAIRIDANEXT_SRA_UPLOAD_USERNAME"
    SUBMITDATAIRIDANEXT_SRA_UPLOAD_PASSWORD = "$SUBMITDATAIRIDANEXT_SRA_UPLOAD_PASSWORD"
    SUBMITDATAIRIDANEXT_ENA_UPLOAD_USERNAME = "$SUBMITDATAIRIDANEXT_ENA_UPLOAD_USERNAME"
    SUBMITDATAIRIDANEXT_ENA_UPLOAD_PASSWORD = "$SUBMITDATAIRIDANEXT_ENA_UPLOAD_PASSWORD"
}

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: CREATE_SRA_ADDFILES_XML {
        errorStrategy = 'ignore'
    }

    withName: UPLOAD_READS_TO_SRA {
        errorStrategy = 'ignore'
        maxForks = params.max_jobs_with_network_connections
    }

    withName: CREATE_ENA_UPLOAD_MANIFEST {
        errorStrategy = 'ignore'
    }

    withName: UPLOAD_READS_TO_ENA {
        errorStrategy = 'ignore'
        maxForks = params.max_jobs_with_network_connections
    }

    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }
}
